* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg,#f0f4f8,#d9e4ec);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1100px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  overflow: hidden;
  
}

.content {
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
}


.left-side {
  flex:1 1 350px;
  background: linear-gradient(135deg,#3a5ba0,#182848);
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
}

.left-side .brand {
  margin-bottom: 40px;
  text-align: center;
}

.left-side .brand i {
  font-size: 50px;
  color: #ffd369;
  margin-bottom: 15px;
}

.left-side .brand h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.left-side .brand p {
  font-size: 14px;
  color: #eaeaea;
  line-height: 1.6;
}

.info-cards{
 display:flex;
flex-direction:column;
gap:20px;
}

.info-card {
  display: flex;
  align-items: center;
  background: rgba(255,255,255,0.1);
  padding: 15px;
  border-radius: 10px;
  transition: 0.3s ease;
  
}

.info-card:hover {
  background: rgba(255,255,255,0.2);
}

.info-card i {
  font-size: 24px;
  color: #ffd369;
  margin-right: 15px;
}

.info-card h4 {
  font-size: 16px;
  font-weight: 600;
}

.info-card p {
  font-size: 14px;
  color: #ddd;
}


.right-side {
  flex: 1 1 600px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-box {
  position: relative;
}

.input-box i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #4b6cb7;
  font-size: 18px;
}

.input-box input,
.input-box textarea {
  width: 100%;
  padding: 14px 16px 14px 45px;
  border: 1px solid #ccc;
  background: #f9f9fb;
  font-size: 16px;
  transition: 0.3s ease;
  resize: none;
}

.input-box input:focus,
.input-box textarea:focus {
  border-color: #4b6cb7;
  background: #fff;
  box-shadow: 0 0 6px rgba(75,108,183,0.4);
  outline: none;
}


button {
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: #4b6cb7;
  font-size: 18px;
  transition: 0.3s ease;
  cursor: pointer;
  color: #fff;
}

button:hover {
  background: #3657a3;
}


@media(max-width:768px){
  .content {
    flex-direction: column;

  }

 .left-side, .right-side {
flex:1 1 100%;}

.left-side{ text-align:center;}

.info-card{
justify-content:center;}
}


